*, *:before, *:after{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    outline: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    background-color: #7dc9e7;
}

/* Шапка */
header {
    min-height: 10vh;
    height: 50px;
    width: 100%;
}

/* Секция */
section {
    height: auto;
    min-height: 80vh;
    width: 100%;
}
.wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.box {
    width: 100%;
    margin: 30px auto;
    /* background-color: #ddd; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block {
    width: 100%;
    min-height: 80vh;
    height: 100%;
    margin: 0px auto;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
}
.block_title h3 {
    margin-top: 15px;
    font-weight: 600;
    font-size: 24px;
    color: #2c3d63;
}
header a, .box a, footer a {
    text-decoration: none;
    color: inherit;
}
.card {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_item {
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
}
.card_logo {
    width: 80px;
    margin: 10px auto;
    padding: 10px;
    background-color: #eee;
    border-radius: 20px;
}
.card_logo img {
    width: 60px;
}
.card_title {
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #2c3d63;
}


/* Футер */
footer {
    min-height: 10vh;
    height: 50px;
    width: 100%;
}
.header, .footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img, .footer img {
    margin-right: 10px;
    line-height: 30px;
    height: 30px;
}
.header span, .footer span {
    font-weight: 600;
    font-size: 25px;
    color: #2c3d63;
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 768px;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .wrapper {
        max-width: 540px;
        width: 100%;
    }
    .block {
        margin: 15px auto;
    }
    .block_title h3 {
        font-size: 22px;
    }
}
@media (max-width: 540px) {
    .wrapper {
        max-width: 425px;
        width: 100%;
    }
    .box {
        margin: 0px auto;
    }
    .block {
        margin: 0 auto;
        padding: 15px;
    }
    .block_title h3 {
        font-size: 20px;
    }
   //* .card {
        width: 100px;
    }
    .card_logo {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card_logo img {
        width: 40px;
    }*//
    .card_title {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .header span, .footer span {
        font-size: 24px;
    }
}
 @media (max-width: 425px) {
    .wrapper {
        max-width: 320px;
        width: 100%;
    }
    .box {
        padding: 5px;
    }
    .block {
        margin: 0 auto;
        padding: 15px;
    }
    .block_title h3 {
        font-size: 20px;
    }
    //*.card {
        width: 320px;
    }
    .card_item {
        width: 270px;
        padding-top: 5px;
    }
    .card_logo {
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
    }*//
    .card_logo img {
        width: 180px;
    }
    .card_title {
        font-size: 18px;
        margin-bottom: 5px;
    }
}
@media (max-width: 320px) {
    .wrapper {
        max-width: 300px;
        width: 100%;
    }
    .box {
        padding: 5px;
    }
    .block {
        margin: 0 auto;
        padding: 15px;
    }
    .block_title h3 {
        font-size: 20px;
    }
    //* .card {
        width: 300px;
    }
    .card_item {
        width: 230px;
        padding-top: 5px;
    }
    .card_logo {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card_logo img {
        width: 150px;
    }*//
    .card_title {
        font-size: 18px;
        margin-bottom: 5px;
    }
}
